<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'first_app/css/main.css' %}">
  </head>
  <body>
    <div class="message">

      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="register">
      <h1 class="regis">Registration</h1>
      <form class="registration" action="/register" method="post">
        {% csrf_token %}
        <span>Name:</span>
        <input type="text" name="name" value=""><br>
        <span>Username:</span>
        <input type="text" name="username" value=""><br>
        <span>Password:</span>
        <input type="password" name="password" value=""><br>
        <span>*Password should be at least 8 characters</span><br>
        <span>Confirm pw:</span>
        <input type="password" name="confirm_pw" value=""><br>
        <input class="button" type="submit" name="submit" value="Register">
      </form>
    </div>

    <div class="login">
      <h1>Login</h1>
      <form class="" action="/login" method="post">
        {% csrf_token %}
        <span>Username:</span>
        <input type="text" name="username" value=""><br>
        <span>Password:</span>
        <input type="password" name="password" value=""><br>
        <input class="button" type="submit" name="login" value="Login">
      </form>
    </div>

  </body>
</html>
